:root {
    /* background */
    --c-dark: #1c1c1c;
    --c-light: #fff;
    --c-accent: #ff2e5b;
    --c-green: #9e9a21;
    --c-dark-blue: #253045;
    --c-grey-blue: #4A5771;
    --c-grey-light: #F1F2F2;
    --c-grey: #BCC1D2;
    /* text */
    --txt-c-dark: var(--c-dark);
    --txt-c-grey: #4F5B70;
    --txt-c-grey-light: var(--c-grey-light);
    --txt-c-accent: var(--c-accent);
    --txt-c-light: var(--c-light);
    /* modals */
    --modal-bgd-dark: rgba(20, 29, 45, 0.8);
    /* container width */
    --vertical-scroll: 20px;
    --mobile: calc(300px + var(--vertical-scroll));
    --tablet: calc(640px + var(--vertical-scroll));
    --desktop: calc(900px + var(--vertical-scroll));
    --desktop-lg: calc(1270px + var(--vertical-scroll));
    /* animation */
    --animation-fast: 0.1s;
    --animation-slow: 0.3s;
    --animation-transition: all 0.2s ease-in-out;
    --main-white: #f0f0f0;
    --main-red: #c91a32;
    --main-blue: #45567d;
    --main-gray: #eee;
    --main-black: #202124;
    --shadow-white: 1px 1px 1px rgba(255, 255, 255, 0.8);
    --shadow-black: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--c-light);
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__block-green{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 88px;
    width: 100%;
    background-color: var(--c-green);
}
.header {
    /* background-image: url('../img/1.jpg');
    background: linear-gradient(to left, transition 30%, rgba(255, 255, 255, 0) 30%) rgba(56, 12, 56, 0.3);
    background-position: left top;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center; */
    background-image:
    linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)),
    url('../img/1.jpg');
    background-position: center right;
    min-height: 1000px;
    background-size: cover;
    
}
.header__title-section{
margin-top: 200px;
margin-left: 120px;
color: var(--c-light);
}
.header__title-top{
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    min-width: 518px;
    
}
.header__title-text{

}
.top__contacts{
    margin-top: 500px;
}
.header__white-block{
    background-color: var(--c-light);
    min-height: 1000px;
    width: 35%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}
.header__title_top-right{
    
}
.header__menu{
    width: 70%;
}
.menu__list {
    display: flex;
    justify-content: right;
    padding: 30px 0 30px 20px;
    background: var(--c-green);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    z-index: 2;
    position: relative;
}

.menu__list-item {
    margin: 0 15px;
}

.menu__list-link {
    color: #fefefe;
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 5px;
    font-weight: 300;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
    border-bottom: 1px solid #fefefe;
}

.logo_name {
    text-align: left;
    color: #fefefe;
    font-size: 36px;
    line-height: 21px;
}

@media only screen and (min-width:640px) {}