:root {
    /* background */
    --c-dark: #1c1c1c;
    --c-light: #fff;
    --c-accent: #ff2e5b;
    --c-green: #9e9a21;
    --c-dark-blue: #253045;
    --c-grey-blue: #4A5771;
    --c-grey-light: #F1F2F2;
    --c-grey: #BCC1D2;
    --c-grey-text: #414141;
    /* text */
    --txt-c-dark: var(--c-dark);
    --txt-c-grey: #4F5B70;
    --txt-c-grey-light: var(--c-grey-light);
    --txt-c-accent: var(--c-accent);
    --txt-c-light: var(--c-light);
    /* modals */
    --modal-bgd-dark: rgba(20, 29, 45, 0.8);
    /* container width */
    --vertical-scroll: 20px;
    --mobile: calc(300px + var(--vertical-scroll));
    --tablet: calc(640px + var(--vertical-scroll));
    --desktop: calc(900px + var(--vertical-scroll));
    --desktop-lg: calc(1270px + var(--vertical-scroll));
    /* animation */
    --animation-fast: 0.1s;
    --animation-slow: 0.3s;
    --animation-transition: all 0.2s ease-in-out;
    --main-white: #f0f0f0;
    --main-red: #c91a32;
    --main-blue: #45567d;
    --main-gray: #eee;
    --main-black: #202124;
    --shadow-white: 1px 1px 1px rgba(255, 255, 255, 0.8);
    --shadow-black: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

*{box-sizing: border-box;}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--c-light);
}
.main{
    max-width: 1270px;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__block-green{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 88px;
    width: 100%;
    background-color: var(--c-green);
}
.header {
    /* background-image: url('../img/1.jpg');
    background: linear-gradient(to left, transition 30%, rgba(255, 255, 255, 0) 30%) rgba(56, 12, 56, 0.3);
    background-position: left top;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center; */
    background-image:
    linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)),
    url('../img/1.jpg');
    background-position: center right;
    min-height: 1000px;
    background-size: cover;
    
}
.header__title-section{
    margin-top: 300px;
    color: var(--c-light);
    margin-right: 230px;
}
.header__title-top{
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 30px;
    min-width: 518px;
}
.header__title-text{
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-style: 15px;
line-height: 18px;
}
.header__title-bottom{
font-size: 29px;
font-weight: 300;
line-height: 35px;
color: rgba(255, 255, 255, 0.8)
}
.header__top-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 67px;
    width: 143px;
    margin-left: 300px;
    margin-top: 200px;
}
.header__phone{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.header__city{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.header__white-block{
    background-color: var(--c-light);
    min-height: 1000px;
    width: 35%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}
.header__title_top-right{
    font-weight: 400;
    line-height: 48px;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 220px;
}
.header__menu{width: 70%;}
.menu__list {
    display: flex;
    justify-content: right;
    padding: 30px 0 30px 20px;
    background: var(--c-green);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    z-index: 2;
    position: relative;
}
.menu__list-item {margin: 0 15px;}
.menu__list-link {
    color: #fefefe;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 5px;
    font-weight: 300;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}
.menu__list-link:hover {border-bottom: 1px solid #fefefe;}
.logo_name {
    text-align: left;
    color: #fefefe;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
/* bio__block */
.bio{margin-left: 40px;}
.bio__block{display: flex;}
.title-top{
    margin-top: 120px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--c-grey-text);
}
.bio__block-text{
    margin-top: 40px;
    margin-left: 50px;
    
    width: 330px;
}
.bio__block-h2{
    font-size: 23px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 30px;
}
.bio__block-p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1c1c1c;
    margin-bottom: 60px;
}
.bio__block-a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: 15px;
    color: #77a1b5;
}
.bio__block-a:hover{
    color: #ff2e5b;
}
.bio__block-photo{
    width: 260px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bio-services{
    display: flex;
    justify-content: space-between;
}
.services{margin-top: 66px;}
.services_one{
    width: 500px;
    height: 150px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)), url(../img/services_1.jpg);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #fff;
}
.services_one:hover{background-image: linear-gradient(to bottom, rgba(100, 101, 104, 0.52), rgba(106, 80, 175, 0.73)), url(../img/services_1.jpg);}
.services_two{
    display: inline-block;
    width: 500px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)), url(../img/services_2.jpg);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #fff;

}
.services_two:hover{background-image: linear-gradient(to bottom, rgba(100, 101, 104, 0.52), rgba(106, 80, 175, 0.73)), url(../img/services_2.jpg);}
.services_tree{
    display: inline-block;
    width: 500px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)), url(../img/services_3.jpg);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #fff
}
.services_tree:hover{background-image: linear-gradient(to bottom, rgba(100, 101, 104, 0.52), rgba(106, 80, 175, 0.73)), url(../img/services_3.jpg);}
.services:last-child{text-align: end;}
.advice{margin-bottom: 80px;}
.advice-h1{
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--c-grey-text);
}
.advice__carousel-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}
.advice__carousel{
    width: 250px;
    margin-right: 40px;
}
.advice__carousel-one{
    display: inline-block;
    width: 250px;
    height: 160px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 60px;
    font-weight: 400;
    background-image: linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)), url(../img/carousel_1.jpg);
}
.advice__carousel-two{
    display: inline-block;
    width: 250px;
    height: 160px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 60px;
    font-weight: 400;
    background-image: linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)), url(../img/carousel_2.jpg);
}
.advice__carousel-tree{
    display: inline-block;
    width: 250px;
    height: 160px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 60px;
    font-weight: 400;
    background-image: linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)), url(../img/carousel_3.jpg);
}
.advice__carousel-four{
    display: inline-block;
    width: 250px;
    height: 160px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 60px;
    font-weight: 400;
    background-image: linear-gradient(to bottom, rgba(18, 22, 48, 0.52), rgba(106, 80, 175, 0.73)), url(../img/carousel_2.jpg);
}
.advice__carousel-h2{
    font-weight: 400;
    font-style: 19px;
    color: #141113;
    line-height: 23px;
    margin-bottom: 25px;
}
.advice__carousel-p{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: 13px;
    line-height: 21px;
    color: #1c1c1c;
}
.comment{
    background-color: #e9e9e9;
    min-height: 560px;
}
.comment-h1{
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--c-grey-text);
}
/* afsdfsfsdfsdfsd */
.koguvcavis-varazdel {
    padding: 38px 0;
    background: ##F5F5F5;
    color: #2f2f2f;
    text-align: center;
}
.sestim-donials{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.sectionesag {
  width: 195px;
  height: 3px;
  background: #498a2d;
  margin: 23px auto;
}

.sagestim-lonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vemotau-vokusipol{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: #f9f4f4;
  padding: 28px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */  
    /* background-size: cover; */
    background-position: center;
}
.gecedanam{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.apogered-gselected{
  color: #53b32b;
  margin-bottom: 20px;
}

/* footer */
.footer-h1{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--c-grey-text);
}
.footer__section{
    background-color: #e9e9e9;
}
.footer__list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.footer__list >li{
    margin-right: 40px;
    margin-bottom: 90px;
}
.sign_up-form{
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 350px;
}
@media screen and (max-width:960px) {
.vemotau-vokusipol{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.vemotau-vokusipol{
  flex: 100%;
  max-width: 100%;
}
}

@media only screen and (min-width:640px) {}